h1 {
   text-align: center;
}

p {
  text-align: center;
}
.chart-container {
  position: relative;
  height:40vh;
  width:80vw;
  margin: auto;
}

html { 
  background: url(https://img.wallpapersafari.com/desktop/1366/768/21/21/YfbKu2.gif) no-repeat center center fixed; 
  background-size: cover
}
